.stringIcon {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  line-height: 100%;
}
.buttonButton,
.buttonButton2 {
  background-color: var(--comm-blue-primary-0078d4);
  width: 48px;
  height: 48px;
}
.buttonButton {
  position: relative;
  display: none;
}
.buttonButton2 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.stringValue {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 3px);
  line-height: 12px;
}
.badgeBadge {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 0px);
  border-radius: var(--br-5xs);
  background-color: var(--comm-blue-shade-20-005a9e);
  width: 16px;
  height: 16px;
  overflow: hidden;
  font-size: var(--segoeui-regular-10-ms-fontsize-10-fontsizessize10-size);
  font-family: var(--medium-400);
}
.buttonBadgeButtonBadge {
  position: relative;
  width: 48px;
  height: 48px;
}
.personaContainerIcon {
  position: relative;
  width: 30px;
  height: 30px;
}
.headerButtonRegion,
.persona {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.persona {
  height: 58.33%;
  width: 58.33%;
  top: 20.83%;
  right: 20.83%;
  bottom: 20.83%;
  left: 20.83%;
  border-radius: var(--br-sm);
  background-image: url(/persona@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.headerButtonRegion {
  top: calc(50% - 24px);
  right: 0;
  overflow: hidden;
}
.waffleWaffle {
  position: relative;
  background-color: var(--comm-blue-primary-0078d4);
  width: 48px;
  height: 48px;
}
.stringProductName {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.productNameStack,
.staticContainerWaffleName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.productNameStack {
  overflow: hidden;
  padding: 0 var(--padding-5xs) 0 0;
  text-align: left;
  font-family: var(--medium-400);
}
.staticContainerWaffleName {
  position: absolute;
  top: calc(50% - 24px);
  left: 0;
}
.stringQuery {
  position: absolute;
  top: calc(50% - 11px);
  left: 44px;
  line-height: 20px;
}
.stringIconSearch {
  position: absolute;
  top: calc(50% - 16px);
  left: 12px;
  font-size: var(--fabricmdl-16-size);
  line-height: 100%;
  font-family: var(--fabric-icons-16);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 32px;
}
.o365ShellSearchSearch,
.staticContainer {
  position: absolute;
  width: 100%;
  top: calc(50% - 16px);
  right: 0;
  left: 0;
  height: 32px;
}
.o365ShellSearchSearch {
  width: 34.53%;
  right: 28.7%;
  left: 36.77%;
  border-radius: var(--br-11xs);
  background-color: var(--light-theme-rest-background-default-background);
  overflow: hidden;
  opacity: 0.8;
  text-align: left;
  font-size: var(--medium-400-size);
  color: var(--comm-blue-shade-30-004578);
  font-family: var(--medium-400);
}
.divider,
.dividerChild,
.navheader {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.navheader {
  top: 0;
  background-color: var(--comm-blue-primary-0078d4);
  height: 48px;
  overflow: hidden;
}
.divider,
.dividerChild {
  bottom: 0;
}
.dividerChild {
  height: 100%;
  top: 0;
  background-color: var(--light-theme-rest-border-default-border-2);
}
.divider {
  height: 1px;
}
.typingIndicator {
  position: relative;
  background-color: var(
    --light-theme-rest-foreground-default-foreground-242424
  );
  width: 1px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.title {
  position: relative;
  line-height: 24px;
}
.progressIndicatorContainerIcon {
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.iconContent,
.progressIndicatorContainerIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.iconcontainer {
  align-items: flex-start;
}
.base,
.iconbutton,
.iconcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.base {
  border-radius: var(--br-81xl);
  padding: 0 var(--padding-7xs) var(--padding-7xs) 0;
  align-items: center;
}
.iconbutton {
  border-radius: var(--br-9xs);
  overflow: hidden;
  align-items: flex-start;
}
.base1 {
  position: absolute;
  top: calc(50% - 13px);
  left: 20px;
  display: flex;
  align-items: center;
}
.base1,
.base2,
.iconbutton1 {
  flex-direction: row;
  justify-content: flex-start;
}
.iconbutton1 {
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: none;
  align-items: flex-start;
}
.base2 {
  position: absolute;
  top: calc(50% - 16px);
  right: 14px;
  display: flex;
  align-items: center;
  gap: var(--gap-9xs);
}
.dividerItem,
.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.header {
  height: 60px;
  font-size: var(--large-700-size);
}
.dividerItem {
  height: 100%;
  bottom: 0;
  background-color: var(--light-theme-rest-border-default-border);
}
.divider1 {
  position: absolute;
  width: calc(100% - 40px);
  top: 2px;
  right: 20px;
  left: 20px;
  height: 2px;
}
.vectorMinWidth {
  position: relative;
  width: 72px;
  height: 4px;
  display: none;
}
.string {
  position: relative;
  line-height: 20px;
}
.iconcontainer5,
.iconsStringLoaderStack {
  flex-direction: row;
  justify-content: flex-start;
}
.iconcontainer5 {
  display: none;
  align-items: flex-start;
}
.iconsStringLoaderStack {
  height: 24px;
  display: flex;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-3xs);
}
.base6,
.button,
.iconbutton4 {
  border-radius: var(--br-9xs);
  justify-content: flex-start;
}
.base6 {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-xs) var(--padding-9xs) 0;
  align-items: center;
}
.button,
.iconbutton4 {
  position: absolute;
  top: 14px;
  display: none;
}
.button {
  left: 14px;
  flex-direction: column;
  align-items: center;
}
.iconbutton4 {
  right: 12px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
}
.footer {
  position: absolute;
  width: 100%;
  top: 975px;
  right: 0;
  left: 0;
  height: 58px;
  text-align: center;
  color: var(--light-theme-rest-foreground-default-foreground-2);
}
.leftrailChild,
.shadow {
  position: absolute;
  overflow: hidden;
}
.shadow {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(204, 204, 204, 0),
    rgba(190, 190, 190, 0.2),
    rgba(173, 173, 173, 0.2),
    rgba(173, 173, 173, 0.2)
  );
  width: 10px;
}
.leftrailChild {
  top: 146px;
  left: 0;
  width: 360px;
  height: 64px;
}
.back,
.chevronIcon {
  position: relative;
  flex-shrink: 0;
}
.chevronIcon {
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.back {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 43px;
  height: 22px;
}
.chevronParent {
  position: absolute;
  top: 74px;
  left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--light-fill-color-text-primary);
}
.stringLabel {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.label {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-8xs);
  align-items: center;
  justify-content: flex-start;
}
.string1 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.textfield,
.textfieldLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textfield {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--light-theme-rest-background-default-background);
  border: 1px solid var(--type-colors-secondary);
  flex-direction: row;
  padding: 0 var(--padding-5xs) var(--padding-7xs) 0;
  color: var(--type-colors-secondary);
}
.textfieldLabel {
  width: 264px;
  height: 202px;
  flex-direction: column;
}
.label1,
.toggleIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.label1 {
  width: 157px;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.toggleIcon {
  position: relative;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 20px;
}
.labelParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.textfieldLabel1,
.textfieldLabelParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.textfieldLabel1 {
  width: 264px;
  height: 72px;
}
.textfieldLabelParent {
  position: absolute;
  top: 122px;
  left: 26px;
  padding: 0 0 var(--padding-33xl);
  gap: var(--gap-lgi);
  color: var(--neutrals-web-gray-160-323130);
}
.placeholderIcon {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.iconStringAutoLayout {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  width: 278px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xl) var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button1 {
  position: absolute;
  top: calc(50% + 176.5px);
  left: calc(50% - 134px);
  border-radius: var(--br-11xs);
  background-color: var(--comm-blue-primary-0078d4);
  width: 264px;
  height: 32px;
  color: var(--light-theme-rest-background-default-background);
}
.placeholderIcon1 {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.stringIcon5 {
  position: relative;
  line-height: 100%;
}
.icon,
.primary {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  border-radius: var(--br-11xs);
  height: 32px;
  display: none;
  padding: 0 var(--padding-5xs) var(--padding-5xs) 0;
  box-sizing: border-box;
}
.primary {
  overflow: hidden;
  display: flex;
}
.frameIcon {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.actions,
.secondary {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.secondary {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.actions {
  position: absolute;
  top: 994px;
  left: 20px;
  width: 276px;
  justify-content: space-between;
  text-align: center;
  font-size: var(--fabricmdl-16-size);
  color: var(--comm-blue-primary-0078d4);
  font-family: var(--fabricmdl-12);
}
.frameChild,
.frameInner,
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray-100);
  width: 24.29px;
  height: 28.5px;
}
.frameInner,
.frameItem {
  left: 38.05px;
}
.frameInner {
  left: 76.1px;
}
.frameChild1,
.rectangleDiv {
  top: 0;
  background-color: var(--color-gainsboro-200);
  width: 24.29px;
}
.rectangleDiv {
  position: absolute;
  left: 114.15px;
  height: 28.5px;
}
.frameChild1 {
  left: 153.01px;
}
.frameChild1,
.frameChild2,
.rectangleParent {
  position: absolute;
  height: 28.5px;
}
.frameChild2 {
  top: 0;
  left: 191.06px;
  background-color: var(--color-gainsboro-200);
  width: 24.29px;
}
.rectangleParent {
  top: 438px;
  left: 50px;
  width: 215.34px;
}
.frameChild3,
.frameChild4 {
  top: 0;
  background-color: var(--color-darkgray-200);
  width: 24.29px;
}
.frameChild3 {
  position: absolute;
  left: 0;
  height: 28.5px;
}
.frameChild4 {
  left: 38.05px;
}
.frameChild4,
.frameChild5,
.rectangleGroup {
  position: absolute;
  height: 28.5px;
}
.frameChild5 {
  top: 0;
  left: 76.1px;
  background-color: var(--color-darkgray-200);
  width: 24.29px;
}
.rectangleGroup {
  top: 477.9px;
  left: 50px;
  width: 215.34px;
}
.frameChild10,
.frameChild11,
.frameChild9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 24.29px;
  height: 28.5px;
}
.frameChild10,
.frameChild11 {
  left: 38.05px;
}
.frameChild11 {
  left: 76.1px;
}
.frameDiv,
.leftrail,
.rectangleContainer,
.rectangleParent1,
.rectangleParent2 {
  position: absolute;
  top: 517.8px;
  left: 50px;
  width: 215.34px;
  height: 28.5px;
}
.frameDiv,
.leftrail,
.rectangleParent1,
.rectangleParent2 {
  top: 557.7px;
}
.leftrail,
.rectangleParent1,
.rectangleParent2 {
  top: 597.6px;
}
.leftrail,
.rectangleParent2 {
  top: 637.5px;
}
.leftrail {
  top: 47px;
  left: 0;
  background-color: var(--light-theme-component-styles-leftrail-mica-bg);
  width: 320px;
  height: 1033px;
  overflow: hidden;
  text-align: left;
  font-size: var(--medium-400-size);
  color: var(--light-theme-rest-foreground-default-foreground-242424);
  font-family: var(--medium-400);
}
.frameChild33,
.frameChild34,
.frameChild35,
.frameChild36,
.frameChild37,
.frameChild38 {
  position: absolute;
  top: 164px;
  left: 549px;
  background-color: var(--color-gainsboro-100);
  width: 336px;
  height: 394px;
  overflow: hidden;
}
.frameChild34,
.frameChild35,
.frameChild36,
.frameChild37,
.frameChild38 {
  left: 925px;
}
.frameChild35,
.frameChild36,
.frameChild37,
.frameChild38 {
  left: 1304px;
}
.frameChild36,
.frameChild37,
.frameChild38 {
  top: 600px;
  left: 549px;
}
.frameChild37,
.frameChild38 {
  left: 925px;
}
.frameChild38 {
  left: 1304px;
}
.navheaderParent {
  position: relative;
  background-color: var(--neutral-fill-layer-neutralfilllayeraltrest);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--fabricmdl-16-size);
  color: var(--light-theme-rest-background-default-background);
  font-family: var(--fabricmdl-12);
}
