.freWelcomeScreenSimple {
  position: absolute;
  top: 30vh;
  left: 45vw;
  width: 488px;
  height: 351px;
  overflow: hidden;
}
.label4 {
  position: absolute;
  top: 70vh;
  left: 50vw;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 536px;
  height: 45px;
}