.freWelcomeScreenSimple {
  position: absolute;
  top: 305px;
  left: 868px;
  width: 488px;
  height: 351px;
  overflow: hidden;
}
.label4 {
  position: absolute;
  top: 684px;
  left: 846px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 536px;
  height: 45px;
}